
.site-footer {

    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-size: 24px; 
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}


.footer-column h3 {
    font-size: 1.2em; 
    margin-bottom: 10px;
}



.footer-column ul,
.footer-column li {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    font-size: large;

}
.footer-column p{
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    font-size: x-large;
}

/* Stile per i link */
.footer-column a {
    color: #fff;
    text-decoration: none;
}

/* Hover effect per i link */
.footer-column a:hover {
    text-decoration: underline;
}

/* Stile per i link ai social media */
.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Disporre i loghi in colonna */
    align-items: center; /* Centrare i loghi */
    gap: 15px; /* Spazio tra i loghi */
    margin-top: 10px;
}

/* Singolo elemento della lista di link sociali */
.social-links li {
    display: inline;
}

/* Stile dei link sociali */
.social-links a {
    color: #fff;
    font-size: 1.5em;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px; /* Spazio tra l'icona e il testo */
}

/* Hover effect per i link sociali */
.social-links a:hover {
    color: #00aaff;
}

/* Sezione inferiore del footer */
.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: x-largef;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em; /* Dimensione del testo più piccola per il copyright */
}

/* Stile responsivo */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}
